@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --cor-principal:#00268C;
    --cor1:#0078c7;
    --cor2:#009bca;
    --cor3:#00bdc1;
    --cor4:#26dcb5;
    --preto:#000000;
    --branco:#FFFFFF;
}

body {
    font-size: 1rem;
    font-family:Playfair+Display; /*o nome da sua fonte*/
}

section{
    padding-bottom: 5rem;
}

.displa-4 {
    text-shadow: -5px 5px var(--cor1);
}

#natureza {
    position: relative;
    padding-top: 5rem;
    margin-top: 3rem;
    background: var(--branco);
    background-size: 180px 180px;
}

#natureza .conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1; 
}







#contato{
    background:var(--cor-principal);
    background-size: cover;
    padding: 0cap;
}

.formulario{
   background-color:var(--cor3);
   padding: 2rem;
   border-radius: 10px;
   box-shadow: 0 0 10px #FFFFFF(0,0,0,0.1);
   font-weight: bold;
}

.formulario{
 background-color: var(--cor2);
 border: none;
 fort-weight: bold;
}

.formulario{
    background-color:var(--cor4);
}