@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --cor-principal:#00268C;
    --cor1:#0078c7;
    --cor2:#009bca;
    --cor3:#00bdc1;
    --cor4:#0fd5be;
    --cor5:#03db8c;
    --preto:#000000;
    --branco:#FFFFFF;
}

body {
    font-size: 1rem;
    font-family:Playfair+Display; /*o nome da sua fonte*/
}

section{
    padding-bottom: 5rem;
}

header {
    background-color: var(--cor5);
}

.nav-link {
    color:var(--branco);
    font-weight: 600;
}

.inicio-fundo{
    background-image: url(animal.webp);
    background-size: cover ;
    background-position: right;
    border-radius: 80px;
    width: 100%;
    height: 606px;;
    padding: 40px;
    margin: 0 auto;
}

.esquerda-conteudo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:1rem;
}

.botao-inicio{
    background-color: var(--cor5);
    border-radius: 30px;
    border: nome;
    width: 14em;
    height: 3em;
    align-items: center;
}

.displa-4 {
    text-shadow: -5px 5px var(--cor1);
}

#natureza {
    position: relative;
    padding-top: 5rem;
    margin-top: 3rem;
    background: var(--branco);
    background-size: 180px 180px;
}

#natureza .conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1; 
}

#contato{
    background:var(--cor-principal);
    background-size: cover;
    padding: 0cap;
}

.formulario{
   background-color:var(--cor3);
   padding: 2rem;
   border-radius: 10px;
   box-shadow: 0 0 10px #FFFFFF(0,0,0,0.1);
   font-weight: bold;
}

.formulario button {
 background-color: var(--cor2);
 border: none;
 fort-weight: bold;
}

.form-control {
    background-color:var(--cor4);
}

.menu-acessibilidade {
    position: fixed;
    top: 2rem;
    right: 20px;
    z-index: 1000;
}

.rotacao-botao {
  transform: rotate(-90deg);
  transform-origin: right center;
}

.opcoes-acessibilidade {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.opcoes-acessibilidade button {
    margin-bottom: 5px; 
}

.apresenta-lista {
    display: none;
}

.alto-contraste{
    background-color: var(--cor4);
    color: var(--cor2);
}

.alto-contraste header,
.alto-contraste footer,
.alto-contraste .formulario {
    background-color: var(--preto);
    color: var(--branco);
}

.alto-contraste .nav-link {
    color: var(--cor5);
}

.alto-contraste .botao-inicio,
.alto-contraste .formulario button,
.alto-contraste .btn-primary {
    background-color: var(--cor3);
    color: var(--preto);
}

.alto-contraste #natureza {
    background: none;
}

.alto-contraste #galeria {
    background-color: var(--preto);
}

.alto-contraste .fundo-galeria {
    background: none;
}